@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;


/* slide-in from left */
[data-reveal] {
  opacity: 0;
  transform: translateX(-40px);
  transition: transform 600ms ease, opacity 400ms ease;
  will-change: transform, opacity;
}

[data-reveal].reveal-show {
  opacity: 1;
  transform: translateX(0);
}

