<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>

<style>
  nav {
    padding-bottom: 1rem;
    boarder-bottom: 2px solid #32bbbb;
    margin-bottom: 2rem;

  }

  ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: #831919;
  }

  a:hover {
    text-decoration: underline;
  }
</style>
